<h1>Install This App</h1>

<p class="lead">This app requires you to login to start using it.</p>

<%= form_tag login_path, :class => 'form-inline' do %>
	<div class="form-group">
		<%= text_field_tag 'shop', nil, :placeholder => 'Shop URL', :class => 'form-control', :style => 'width: auto;' %>
	</div>
	<%= submit_tag 'Install', :class => 'btn btn-primary btn-large' %>
<% end %>