<h2>Vendors</h2>

<table class="table table-vendors">
	<thead>
		<tr>
			<th>Vendor</th>
		</tr>
	</thead>
	<tbody>
		<% @vendors.each do |vendor| %>
			<tr>
				<td><%= link_to vendor.name, vendor %></td>
			</tr>
		<% end %>
	</tbody>
</table>